<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net451" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net451" />
  <package id="NHibernate.Sessions" version="1.0.0" targetFramework="net451" />
  <package id="PowerTasks" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Clean" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Compile" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Pack" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Push" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Test" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="PowerTasks.Plugins.Version" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.AssertComparer" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.GenericExtensions.IsEqualToDefault" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.GenericExtensions.QuasiEquals" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.ObjectExtensions.CanBeRepresentedAsString" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.ObjectExtensions.Flatten" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.ObjectExtensions.ToEnumerable" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.SystemTime" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Quarks.TypeExtensions.IsNullable" version="1.0.0" targetFramework="net451" developmentDependency="true" />
</packages>